import React, { useState } from 'react';
import { Sidebar } from '../Sidebar/Sidebar';
import logo from '../../Components/assets/images/logdo2.png';

export const Navbar = () => {
    const [showSidebar, setShowSidebar] = useState(false);

    const toggleSidebar = () => {
        setShowSidebar(!showSidebar);
    };

    const closeSidebar = () => {
        setShowSidebar(false);
    };

    return (
        <>
          <div className='w-[100%] border-bottom '>
          <nav className="  shadow-lg  shadow-gray-300  ">
                <div className="max-sm:flex sm:flex  max-sm:justify-between sm:justify-between ">
                    <div className="flex items-start md:hidden">
                        <button onClick={toggleSidebar} className="text-white">
                            <svg className="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                            </svg>
                        </button>
                    </div>
                 

                  <div className='w-[100%] flex justify-between  '>
                         {/* logo */}
                         <div class='md:order-2 logobg w-1/2 max-sm:w-full sm:w-full pr-6 flex items-center justify-end py-2'>
                        <div class="flex items-center justify-end">
                            <img src={logo} alt="Logo" class="lg:h-[70px] lg:w-[80px] max-sm:h-[50px] sm:h-[50px] sm:w-[60px] max-sm:w-[60px]" />
                            <span class="text-white text-lg max-sm:text-base max-md:text-base bg-orange-500 px-[6px] py-[2px] rounded-sm ">Pushing up performance</span>
                        </div>
                    </div>


                 <div className='md:order-1 flex items-center justify-end  navbg1 w-1/2 sm:w-full  hidden md:block px-5 '>
                 <div class="flex items-center justify-center h-full">
                    <div class="flex flex-col items-center">
                        <ul class="flex flex-col items-center gap-4 md:flex-row md:gap-6 max-sm:gap-4 sm:gap-4">
                            <li><a href="#" class="text-white text-lg">Home</a></li>
                            <li><a href="#" class="text-white text-lg">About</a></li>
                            <li><a href="#" class="text-white text-lg">Services</a></li>
                            <li><a href="#" class="text-white text-lg">Contact</a></li>
                            <li><a href="#" class="text-white text-lg">Home</a></li>
                            <li><a href="#" class="text-white text-lg">About</a></li>
                        </ul>
                    </div>
                </div>

                 </div>
                  </div>
                </div>
            </nav>
          </div>
            {showSidebar && (
                <div className="fixed inset-0 bg-gray-900  text-white z-50 w-[250px]">
                    <div className="flex  p-4">
                        <button onClick={closeSidebar} className="text-white">
                            <svg className="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                        </button>
                    </div>

                    {/* sidebar */}
                 <Sidebar/>
                </div>
            )}
        </>
    );
};

export default Navbar;






